@{
    ViewData["Title"] = "Exception Page";

    var counter = ViewData["counter"];
}

<div class="text-center align-content-center">
    <div><h2>Increment the count by 1. You can only increment counter till 10</h2></div>
    <div>
        <button><a asp-action="ExceptionCounter" asp-route-counter="@counter">@counter</a></button>
    </div>
</div>
